.success-container {
  width: 25%;
  max-width: 400px;
  max-height: 600px;
  min-height: 300px;
  padding: 15px 40px 20px 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: -5px 0px 15px grey, 5px 0px 15px grey ;
}
h4 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 30px 5px 10px 10px
}
.nav-btn {
  width: 150px;
  height: 30px;
  font-size: 1.2em;
  background-color: lightgray;
  border-color: #424242;
  border-radius: 5px;
}
.nav-btn:hover {
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}