// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



// Commons
html { 
    height: 100%;
    &::after{
        content: '';
        background-image: url("storage/images/background.jpg");
        /* Full height */
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

body{
    margin:0;
    height: 100%;
    width: 100%;
}
